@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  color: rgba(0, 0, 0, 0.8);
}



.bg-blue {
  background: #233A95;
}

.cursor {
  cursor: pointer;
}

.text-light {
  color: #8b8b8b !important;
}

.text-sml {
  font-size: 14px;
}

@media (min-width: 1300px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
  }
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

/* headerWrapper */

.headerWrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.headerWrapper .top-strip {
  padding: 8px 0px;

}

.headerWrapper .top-strip p {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 25px 0px;
}

.headerWrapper img {
  width: 100%;
}

.headerWrapper .header .part2 .countryDrop {
  width: 170px;
  height: 60px;
  min-width: 170px;
  color: #000;
  padding: 10px 15px !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 7px;
  text-align: left;
  justify-content: flex-start !important;
}

.headerWrapper .header .part2 .countryDrop .label {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.4) !important;
  line-height: 25px;
}

.headerWrapper .header .part2 .countryDrop .name {
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: #233A95 !important;
  font-weight: 700;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop span.ml-auto svg {
  opacity: 0.7;
}

/* header */

.headerSearch {
  width: 60%;
  height: 60px;
  background: #F3F4F7;
  padding: 10px;
  position: relative;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.headerSearch input {
  background: transparent !important;
  outline: none !important;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 40px;
  border: 0px !important;
  padding: 0px 20px !important;
}

.headerSearch button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 99;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  color: #000;
}

.headerSearch button svg {
  font-size: 25px;
  opacity: 0.8;
}

header .part3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 45px !important;
  height: 45px !important;
  width: 45px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: #000;
}

header .part3 .circle svg {
  font-size: 22px;
}

.cartTab .price {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}

.cartTab button {
  background: #fff1ee !important;
}

.cartTab button svg {
  color: #ea2b0f !important;
}

.cartTab .count {
  position: absolute;
  top: -6px;
  right: -4px;
  background: #ea2b0f;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
}

/* Location */
.locationModal .MuiPaper-elevation{
  padding: 25px;
  position: relative;
}

.locationModal .headerSearchCountry {
  height: 50px;
}

.locationModal .headerSearchCountry input {
  height: 30px;
  font-size: 16px;
}

.locationModal .headerSearchCountry button {
  top: 6px;
}

.locationModal .headerSearchCountry button svg {
  font-size: 20px;
}

.locationModal .countryList {
  margin-bottom: 0px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.locationModal .countryList li {
  width: 100%;
  list-style: none;
}

.locationModal .countryList li button {
  width: 100%;
  text-transform: capitalize !important;
  color: #000 !important;
  justify-content: flex-start;
  padding: 10px 20px !important;
}

.locationModal .countryList li button.active {
  background: #e2e2e2 !important;
}

.locationModal .closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000 !important;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}

.locationModal .closeButton svg {
  font-size: 22px;
}

/* navigation */

nav .navPart1 {
  max-width: 20%;
  flex: 0 0 20%;
}

nav .navPart2 {
  max-width: 80%;
  flex: 0 0 80%;
}

nav .navPart1 .catWrapper {
  position: relative;
}

nav .navPart1 .catWrapper .slidebarNav {
  position: absolute;
  top: 136%;
  left: 0px;
  width: 100%;
  height: 0px;
  opacity: 0;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0px;
  transition: all 0.2s;
  visibility: hidden;
  z-index: 100;
}

nav .navPart1 .catWrapper .slidebarNav.open {
  height: auto;
  opacity: 1;
  visibility: inherit;
}

nav .navPart1 .catWrapper .slidebarNav ul li {
  position: static;
  width: 100%;
  list-style: none;
  padding: 0px 10px;
}

nav .navPart1 .catWrapper .slidebarNav ul li button  {
  color: #2bbef9;
}

nav .navPart1 .catWrapper .slidebarNav ul li button {
  color: #000;
  width: 100%;
  justify-content: flex-start;
  text-transform: capitalize !important;
}

nav .navPart1 .catWrapper .slidebarNav ul li:hover > a button  {
  color: #2bbef9;
}

nav .navPart1 .catWrapper .slidebarNav ul li button svg {
  font-size: 12px;
  opacity: 0.6;
}

nav .navPart1 .catWrapper .slidebarNav ul li button:hover {
  background: transparent !important;
}

nav .navPart1 .catWrapper .slidebarNav ul li .submenu {
  position: absolute;
  top: 0px;
  left: 100%;
  width: 250px;
  height: auto;
  background: #fff;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

nav .navPart1 .catWrapper .slidebarNav ul li:hover .submenu {
  opacity: 1;
  visibility: inherit;
}

nav .navPart1 .catWrapper .slidebarNav ul li .submenu button:hover {
  color: #2bbef9;
}

nav .navPart1 .catWrapper .slidebarNav ul li .submenu button {
  border-radius: 0px !important;
}

nav .allCatTab {
  background: #2bbef9;
  padding: 10px 15px !important;
  border-radius: 30px !important;
}

nav .allCatTab * {
  color: #fff;
}

nav .allCatTab:hover {
  background: #2bbef9;
}

nav .allCatTab .text {
  font-weight: 600;
}

nav .allCatTab .iconMenu svg {
  font-size: 20px !important;
}

nav .allCatTab .iconAngleDown svg {
  font-size: 15px !important;
}

nav .navPart2 ul {
  margin-bottom: 0px;
}

nav .navPart2 ul li a {
  text-decoration: none;
}

nav .navPart2 ul li a button {
  font-size: 14px; /*Can edit*/
  font-weight: 600;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 8px 15px; /*Can Edit*/
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
}

nav .navPart2 ul li a button:hover {
  background: #f0faff;
  color: #2bbef9;
}

/* submenu */
nav .navPart2 ul li {
  position: relative;
  padding-bottom: 20px;
}

nav .navPart2 ul li .submenu {
  position: absolute;
  top: 150%;
  left: 0px;
  min-width: 200px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in-out;
  z-index: 100;
}

nav .navPart2 ul li .submenu a {
  display: block;
  width: 100%;
}

nav .navPart2 ul li .submenu a button {
  width: 100%;
  justify-content: flex-start !important;
  border-radius: 0px !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
}

nav .navPart2 ul li .submenu a button:hover {
  background: #f1f1f1 !important;
  color: rgba(0, 0, 0, 0.6);
}

nav .navPart2 ul li:hover .submenu {
  opacity: 1;
  visibility: inherit;
  top: 100%;
}

/* Slide Banner */

.homeBannerSection {
  position: relative;
  overflow: hidden;
}

.homeBannerSection * {
  outline: none !important;
}

.homeBannerSection .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
  background: #fff;
  border-radius: 100%;
  font-family: FontAwesome !important;
  font-weight: bold ;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
}

.homeBannerSection .slick-arrow.slick-next {
  right: 35px !important;
}

.homeBannerSection .slick-arrow.slick-prev {
  left: 35px !important;
}

.slick-next:before, .slick-prev:before {
  color: #000 !important;
  font-family: FontAwesome !important;
  opacity: 0.8;
}

/* homeProducts */
.homeProducts {
  padding: 25px 0px;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 10px;
  z-index: 100;
}

.homeProducts .banner {
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
}

/* products row */
.hd {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.viewAllBtn {
  padding: 5px 20px !important;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 30px !important;
  color: #414141 !important;
  font-weight: 600;
  text-transform: capitalize !important;
}

.viewAllBtn svg {
  font-size: 20px;
}

/* product Item */

/* .product_row .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
  border-radius: 100%;
  font-weight: bold ;
}

.product_row .slick-arrow.slick-next::before {
  font-size: 25px;
  color: #000;
}

.product_row .slick-arrow.slick-prev::before {
  font-size: 25px;
  color: #000;
} */

.product_row .productItem {
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.product_row .swiper-slide:last-child .productItem {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.swiper {
  padding-right: 1px !important;
}

.productItem {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position:relative;
}

.productItem .badge {
  display: inline-block;
  padding: 7px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.productItem .badge-primary {
  background: #2bbef9 !important;
}

.productItem .info {
  padding: 15px;
}

.productItem .info h4 {
  font-size: 15px;
  font-weight: 600;
}

.productItem .info .oldPrice {
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: line-through;
}

.productItem .info .newPrice {
  font-size: 16px;
  font-weight: bold;
}

.productItem .actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 20px;
  right: -100%;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.productItem .imgWrapper {
  overflow: hidden;
}

.productItem .imgWrapper:hover .actions {
  opacity: 1;
  right: 10px;
}

.productItem .actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 50% !important;
  background: #fff !important;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
  transition: all 0.1s !important;
}

.productItem .actions button svg {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px !important;
  pointer-events: none;
}

.productItem .actions button:hover {
  background: #233a95 !important;
}

.productItem .actions button:hover svg {
  color: #fff !important;
}

/* Home Cat */

.homeCat {
  padding: 35px 0px;
}

.homeCat .swiper .item {
  padding: 15px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.homeCat .swiper .item img {
  width: 80%;
}

/* New product */
.productRow2 {
  flex-wrap: wrap;
  gap: 10px;
}

.productRow2 .productItem {
  width: 24%;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

/* Banner Sec */
.bannerSec {
  gap: 15px;
}

/* News Letter Section */
.newsLetterSection {
  width: 100%;
  height: auto;
  background: #233a95;
  position: relative;
  overflow: hidden;
  padding: 70px 0px;
}

.newsLetterSection .col-md-6 {
  position: static !important;
}

.newsLetterSection p {
  font-size: 18px;
  margin: 10px 0px !important;
}

.newsLetterSection p.text-light {
  color: #fff !important;
  opacity: 0.5;
  font-size: 14px;
}

.newsLetterSection h3 {
  font-size: 30px;
  font-weight: bold;
}

.newsLetterSection img {
  position: absolute;
  bottom: 0px;
  right: 100px;
}

.newsLetterSection form {
  width: 90%;
  height: 60px;
  background: #fff;
  padding: 10px;
  position: relative;
  border-radius: 5px;
}

.newsLetterSection form svg {
  position: absolute;
  top: 17px;
  left: 10px;
  font-size: 25px;
  opacity: 0.3;
}

.newsLetterSection form input {
  width: 100%;
  height: 100%;
  background: #fff !important;
  outline: none !important;
  border: 0px !important;
  padding-left: 40px;
  padding-right: 200px;
}

.newsLetterSection form button {
  position: absolute;
  top: 6px;
  right: 7px;
  background: #233a95 !important;
  font-size: 14px !important;
  padding: 12px 25px !important;
  color: #fff !important;
  text-transform: capitalize !important;
}

/* Footer */
footer {
  width: 100%;
  height: 500px;
  margin: auto;
  background: #fff;
  padding: 25px 0px;
}

footer .topInfo {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}

footer .topInfo .col {
  padding: 10px 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 30px;
}

footer .topInfo .col:last-child {
  border-right: 0px;
}

footer .topInfo .col svg {
  font-size: 26px;
}

footer .topInfo .col span {
  font-size: 14px;
  font-weight: 600;
}

footer .linksWrap h5 {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 600;
}

footer .linksWrap ul li {
  list-style: none;
  margin-bottom: 10px;
}

footer .linksWrap ul li a {
  color: #71778e;
  font-size: 14px;
}

footer .linksWrap ul li a:hover {
  text-decoration: none;
}

footer .copyright p {
  display: flex;
  align-items: center;
  color: #9b9bb4;
}

footer .copyright ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

footer .copyright ul li a:hover {
  border-color: #2bbef9 !important;
}

footer .copyright ul li a:hover svg {
  color: #2bbef9 !important
}

footer .copyright ul li a svg {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}